@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-v16-latin_latin-ext-500.ttf) format("truetype"), url(../fonts/roboto-v16-latin_latin-ext-500.woff) format("woff"), url(../fonts/roboto-v16-latin_latin-ext-500.woff2) format("woff2");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-v16-latin_latin-ext-500italic.ttf) format("truetype"), url(../fonts/roboto-v16-latin_latin-ext-500italic.woff) format("woff"), url(../fonts/roboto-v16-latin_latin-ext-500italic.woff2) format("woff2");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-v16-latin_latin-ext-700.ttf) format("truetype"), url(../fonts/roboto-v16-latin_latin-ext-700.woff) format("woff"), url(../fonts/roboto-v16-latin_latin-ext-700.woff2) format("woff2");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-v16-latin_latin-ext-700italic.ttf) format("truetype"), url(../fonts/roboto-v16-latin_latin-ext-700italic.woff) format("woff"), url(../fonts/roboto-v16-latin_latin-ext-700italic.woff2) format("woff2");
    font-weight: bold;
    font-style: italic
}

/**
 * Base styles
 */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--thtrm-base-font), var(--thtrm-base-font-stack);
    font-size: var(--thtrm-base-fontsize);
    font-weight: var(--thtrm-base-fontweight);
    line-height: 1.4;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {
    position: relative;
}

h1, h2, h3, h4 {
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    margin: 0;
}

h1 {
    font-size: var(--thtrm-h1-fontszize);
}

a {
    color: var(--thtrm-color-blue);
    text-decoration: none;
}

a::after {
    color: currentColor;
    content: "›";
    font-weight: normal;
    font-size: 1.15em;
    margin-left: .25em;
}

img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: $thtrm-media-md) {
    :root {
        --thtrm-base-fontsize: 25px;
        --thtrm-small-fontsize: calc(0.75 * var(--thtrm-base-fontsize));
        --thtrm-nav-fontsize: calc(1 * var(--thtrm-base-fontsize));
        --thtrm-h1-fontszize: calc(2.25 * var(--thtrm-base-fontsize));
        --thtrm-h2-fontszize: calc(2 * var(--thtrm-base-fontsize));

        /**
         * @layout
         */
        --thtrm-page-margin: 10vw;
        --thtrm-page-neg-margin: -10vw;
    }
}

@media screen and (min-width: $thtrm-media-lg) {
    :root {
        --thtrm-base-fontsize: 27px;
    }
}
