.thtrm-teaser {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #90BAC7;
  // background-color: #384c54;
  background-blend-mode: multiply;
  text-align: center;
  padding: 6em 0 5em 0;

  @include phablet {
    padding: 8em 0;
  }

  @include desktop {
    padding: 10em 0 6em;
  }

  &--code-review {
    background-image: url('/images/teaser-background-code-review.jpg');

    @include phablet {
      background-image: url('/images/teaser-background-code-review_phablet.jpg');
    }
  }

  &--online-training {
    background-image: url('/images/teaser-background-online-training.jpg');

    @include phablet {
      background-image: url('/images/teaser-background-online-training_phablet.jpg');
    }
  }

  &--onsite-training {
    background-image: url('/images/teaser-background-onsite-training.jpg');

    @include phablet {
      background-image: url('/images/teaser-background-onsite-training_phablet.jpg');
    }

    @include tablet {
      background-image: url('/images/teaser-background-onsite-training_desktop.jpg');
    }
  }
}

.thtrm-teaser-headline {
  color: #fff;
  text-transform: uppercase;
  margin: 0;
  font-size: 24px;
  margin-bottom: 0.8em;
}

.thtrm-teaser-cta {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: 600;
  // transition: (color .2s ease-out, background .2s ease-in);

  &:hover {
    background-color: #fff;
    color: #123742;
  }
}

.thtrm-teaser-image {
  padding-bottom: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: #90BAC7;
  background-blend-mode: multiply;

  &--conversation {
    background-image: url('/images/teaser-background-online-training_phablet.jpg');
  }

  &--group {
    background-image: url('/images/background-ng-connect.jpg');
  }

  &--other {
    background-image: url('/images/background-onsite-training-group.jpg');
  }

  &--review {
    background-image: url('/images/code-review.jpg');
  }

  &--review2 {
    background-image: url('/images/teaser-background-code-review-2.jpg');
  }

  &--testimonial-brad {
    background-image: url('/images/testimonial-brad-green.png');
  }
  &--amc {
    background-image: url('/images/trainings-quote.jpg');
  }
  &--a2mc {
    background-image: url('/images/trainings-quote-two.jpg');
  }
  &--gmc {
    background-image: url('/images/trainings-quote-third.jpg');
  }
  &--prerequisites {
    background-image: url('/images/prerequisites-cover.jpg');
  }
}

.thtrm-teaser-quote {
  padding-bottom: 14%;
  padding-top: 14%;
  position: relative;
  background: url('/images/quote-placeholder.jpg') no-repeat center / cover;
  background-blend-mode: multiply;
  color: #fff;
  text-align: center;

  @include tablet {
    padding: 0;
  }

  blockquote {
    margin: 0;
    padding-left: 3em;
    padding-right: 3em;
    width: 100%;

    @include tablet {
      left: 50%;
      padding-bottom: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    @include desktop {
      font-size: 1.4em;
    }

    &:before {
      color: #fff;
    }

    span {
      font-size: 1em;
    }
  }
}

.thtrm-teaser-box {
  background-color: #384c54;
  padding: 3em 1.5em;
  text-align: center;

  @include phablet {
    padding: 4em 5.5em;
  }

  @include tablet {
    padding: 3em 2em;
  }

  @include desktop {
    padding: 6.5em 5.5em;
  }

  .material-icons {
    font-size: 65px;
    color: #fff;
    margin-bottom: 0.2em;
    font-weight: 400;
    line-height: .6;

    @include phablet {
      font-size: 70px;
    }
  }
}

.thtrm-teaser-box-headline {
  font-size: 22px;
  margin: 0;
  color: #fff;
  text-transform: uppercase;
}

.thtrm-teaser-box-text {
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  margin-top: 1em;

  a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }
}

.thtrm-teaser-box-list {
  margin-bottom: 0;
  margin-top: 1.5em;
  padding: 0;
  list-style: none;
  color: #fff;
  // text-transform: uppercase;
  text-align: left;
  // font-weight: 600;
  font-size: 18px;
  font-weight: bold;
  margin-left: 0;
}

.thtrm-teaser-box-list-item {
  padding: .75em 1em;
  // background: rgba(255,255,255,.05);
  border: 2px solid #fff;
  border-top-width: 0;

  &:first-child {
    border-top-width: 2px;
  }

  .material-icons {
    vertical-align: -25%;
    margin-right: 0.4em;
    padding: 0.2em;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #fff;
    border-radius: 50%;
    line-height: 1;
  }
}

.thtrm-teaser-box-cta {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #fff;
  display: inline-block;
  padding: 0.5em 1em;
  font-weight: 600;
  font-size: 16px;
  // transition: (color .2s ease-out, background .2s ease-in);

  &:hover {
    background-color: #fff;
    color: #123742;
  }
}
