@import '../../node_modules/thtrm-css/variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  margin: 0;
  background: #fff;
  font-family: 'Open Sans Pro', Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  border: none;
  vertical-align: middle;
}

p {
  margin: 0;
}

blockquote {
  padding-top: 1.7em;
  position: relative;
  font-size: 1.2em;
  font-style: italic;

  &:before {
    content: '"';
    display: block;
    left: 50%;
    margin-left: -.1em;
    position: absolute;
    top: 0.05em;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 5em;
    transform: translateX(-50%);
    color: #cacaca;
    line-height: .5;
  }

  span {
    display: block;
    margin-top: 1.1em;
    font-size: .8em;
    font-style: normal;
  }
}

address {
  font-style: normal;
}

.thtrm-main {
  margin: 0 auto;
  padding: 0 0 0 0;
  min-height: 100%;

  @include desktop {
    min-height: initial;
  }
}

.thtrm-background-light-gray {
  background: #eee;
}

.thtrm-imprint,
.thtrm-prepare {
  .thtrm-main {
    font-size: 1.1em;
    line-height: 1.5;
  }
}

.thtrm-prepare {
  img {
    max-width: 100%;
  }
}

.thtrm-subtitle {
  color: #384c54;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;

  @include desktop {
    font-size: 20px;
  }
}

.thtrm-hashtag-link {
  font-size: 44px;
  text-decoration: none;
  color: #384c54;
  font-weight: 600;

  &:hover {
    color: #6d92a0;
  }
}

.thtrm-footer-navigation {
  background: #62a7be;
  color: #fff;
  padding-top: 1em;
  padding-bottom: 3em;

  h4 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 2em;
    text-align: center;
  }

  @include tablet {

    padding-top: 3em;

    h4 {
      text-align: left;
      margin-top: 0;
    }
  }
}

.thtrm-footer-navigation-list {

  list-style: none;
  margin-top: 1em;
  margin-bottom: 0;
  padding-left: 0;

  li {
    margin-top: 0.6em;
  }

  a {
    text-decoration: none;
    color: #fff;

    &:hover,
    &:focus,
    &:active {
      border-bottom: 1px solid #fff;
    }
  }

  @include tablet {
    text-align: left;
  }
}

.thtrm-footer-navigation-wrapper {
  padding-left: 0;

  @include tablet {
    padding-left: 7.5em;
  }
}

@import '../../node_modules/thtrm-css/all',
        'thtrm-testimonial',
        'thtrm-topic-box';
