@import '_h5bp';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  color: #222;
  font-size: $fontBase;
  line-height: 1.6250em; /* 26px */
}

body.open {
  overflow: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  body {
    overflow-y: scroll;
  }
}

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: normal;
//   font-weight: 300;
//   src: url(/fonts/RobotoCondensed-Light.eot);
//   src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
// }

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: normal;
//   font-weight: 400;
//   src: url(/fonts/RobotoCondensed-Regular.eot);
//   src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
// }

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: normal;
//   font-weight: 700;
//   src: url(/fonts/RobotoCondensed-Bold.eot);
//   src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
// }

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: italic;
//   font-weight: 300;
//   src: url(/fonts/RobotoCondensed-LightItalic.eot);
//   src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
// }

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: italic;
//   font-weight: 400;
//   src: url(/fonts/RobotoCondensed-Italic.eot);
//   src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
// }

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: italic;
//   font-weight: 700;
//   src: url(/fonts/RobotoCondensed-BoldItalic.eot);
//   src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
// }
