@import '_h5bp';
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,800);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
button {
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 300;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  color: #333;
  font-size: $fontBase;
  line-height: 1.6250em; /* 26px */
}

body.open {
  overflow: hidden;
}

.thtrm-m-list {
  display: block;
  list-style: none;
  padding-top: 1em;
  padding-left: 0;

  li {
    padding-left: 0;

    &:before {
      content: '';
    }
  }
}

.thtrm-m-list--trusted-by {
  img {
    max-height: 40px;
    vertical-align: middle;

    @media all and (min-width: 750px) {
      max-height: 60px;
    }
  }
}

.thtrm-m-list--horizontally {
  li {
    display: inline-block;
    margin-top: 2em;

    &:first-child {
      margin-left: 0;
    }

    @media all and (min-width: 750px) {
      margin-left: 3em;
    }
  }
}

.thtrm-m-list--spaced {
  li {
    margin-top: 2em;
  }
}

.thtrm-m-list--checked {
  li {
    position: relative;
    margin-top: 0.6em;
    padding-left: 1.5em;
    font-size: 20px;


    &:before {
      content: '\f00c';
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      position: absolute;
      top: 0.3em;
      color: #4D8799;
    }

    @media all and (min-width: 990px) {
      font-size: 21px;
    }

    @media all and (min-width: 1500px) {
      font-size: 26px;
      margin-top: 1em;

      &:before {
        top: 0.2em;
      }
    }
  }
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

/** Larger Screens - desktops and tablets **/
@media all and (min-width: 990px) {
  body {
    overflow-y: scroll;
  }
}

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: normal;
//   font-weight: 300;
//   src: url(/fonts/RobotoCondensed-Light.eot);
//   src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
// }

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: normal;
//   font-weight: 400;
//   src: url(/fonts/RobotoCondensed-Regular.eot);
//   src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
// }

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: normal;
//   font-weight: 700;
//   src: url(/fonts/RobotoCondensed-Bold.eot);
//   src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
// }

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: italic;
//   font-weight: 300;
//   src: url(/fonts/RobotoCondensed-LightItalic.eot);
//   src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
// }

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: italic;
//   font-weight: 400;
//   src: url(/fonts/RobotoCondensed-Italic.eot);
//   src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
// }

// @font-face {
//   font-family: 'Roboto Condensed';
//   font-style: italic;
//   font-weight: 700;
//   src: url(/fonts/RobotoCondensed-BoldItalic.eot);
//   src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
// }
