.thtrm-banner--coc {
  background-image: url(/assets/images/background-houston-2017.jpg);
  background-position: top center;
  background-color: #4a4a4a;
  background-blend-mode: normal;
  background-size: auto, cover;
}

@media (min-width: 501px) {
  .thtrm-subscriber {
    padding-left: 200px;
    height: 300px;
  }

  .intro {
    margin-top: -10em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
  }

  p {
    margin: 0;
    text-align: left;
    margin-top: 10px;
    color: #fff;
  }

  form {
    text-align: left;
  }

}

@media (max-width: 500px) {
  .thtrm-banner--coc {
    background-image: url(/assets/images/background-houston-2017.sm.jpg);
  }

  .thtrm-subscriber {
    width: 347px;
  }

  .intro {
    font-size: 1.1em;
    margin-top: -20px;
  }

  p.note {
    margin-top: 170px;
    color: #fff;
    font-size: 0.8em;
    padding: 10px;
  }
}
