.thtrm-form .thtrm-form__label {
	display: none
}

.thtrm-form > * {
	margin: .5rem;
}

.thtrm-form .thtrm-form__input--text {
	background-color: var(--thtrm-color-gray);
	border: none;
	font-size: inherit;
	padding: .5rem 1rem;
	min-width: 40%;
}
