:root {
    /**
     * @colors
     */
    --thtrm-color-darkblue: #456474;
    --thtrm-color-midblue: #4C91A7;
    --thtrm-color-blue: #69caff; /* Links etc. */
    --thtrm-color-lightblue: #72C7DF;
    --thtrm-color-text: #000000;
    --thtrm-color-lighttext: #7D7D7D;
    --thtrm-color-gray: #EEEEEE;
    --thtrm-color-lightgray: #f8f8f9;
    --thtrm-color-white: #FFFFFF; /* Page background */
    /**
     * @typography
     */
    --thtrm-base-font: Roboto;
    --thtrm-base-font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    --thtrm-base-fontweight: 500; /* Medium */
    --thtrm-base-fontsize: 19px;
    --thtrm-small-fontsize: calc(0.75 * var(--thtrm-base-fontsize));
    --thtrm-nav-fontsize: calc(1 * var(--thtrm-base-fontsize));
    --thtrm-h1-fontszize: calc(1.75 * var(--thtrm-base-fontsize));
    --thtrm-h2-fontszize: calc(1.5 * var(--thtrm-base-fontsize));

    /**
     * @layout
     */
    --thtrm-page-margin: 5vw;
    --thtrm-page-neg-margin: -5vw;

    /**
     * @layers
     */
    --thtrm-layer-deco: 9;
    --thtrm-layer-navigation: 99;
    --thtrm-layer-surface: 99999999999;
}

/**
 * Base styles
 */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: var(--thtrm-base-font), var(--thtrm-base-font-stack);
    font-size: var(--thtrm-base-fontsize);
    font-weight: var(--thtrm-base-fontweight);
    line-height: 1.4;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

body {
    position: relative;
}

h1, h2, h3, h4 {
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0;
    margin: 0;
}

h1 {
    font-size: var(--thtrm-h1-fontszize);
}

a {
    color: var(--thtrm-color-blue);
    text-decoration: none;
}

a::after {
    color: currentColor;
    content: "›";
    font-weight: normal;
    font-size: 1.15em;
    margin-left: .25em;
}

img {
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 1440px) {
    :root {
        --thtrm-base-fontsize: 25px;
        --thtrm-small-fontsize: calc(0.75 * var(--thtrm-base-fontsize));
        --thtrm-nav-fontsize: calc(1 * var(--thtrm-base-fontsize));
        --thtrm-h1-fontszize: calc(2.25 * var(--thtrm-base-fontsize));
        --thtrm-h2-fontszize: calc(2 * var(--thtrm-base-fontsize));

        /**
         * @layout
         */
        --thtrm-page-margin: 10.76vw;
        --thtrm-page-neg-margin: -10.76vw;
    }
}

@media screen and (min-width: 1920px) {
    :root {
        --thtrm-base-fontsize: 27px;
    }
}
