/*Display overlay to see visual diff between design and FE*/
body:target::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: var(--thtrm-layer-surface);
	background: url(../images/next/bg-overlay.png) no-repeat 0 0;
	background-size: contain;
	width: 100vw;
	height: 300vh;
	opacity: .9;
	mix-blend-mode: difference;
}
