.thtrm-l-footer {
  background-color: #4D8799;
}

.thtrm-l-footer__list {
  display: block;
  list-style: none;
  padding-top: 1em;
  padding-left: 0;

  @media all and (min-width: 750px) {
    text-align: center;
  }

  li {
    padding-left: 0;

    @media all and (min-width: 750px) {
      display: inline-block;
    }

    &:before {
      content: '';
    }
  }

  a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.5em 0;
    font-size: 19px;

    @media all and (min-width: 750px) {
      padding-left: 1em;
      padding-right: 1em;
      font-weight: 400;
      font-size: 18px;
    }

    &:hover {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.2);
      transition: background-color 0.2s ease-out;
    }

    &:visited {
      color: #fff;
    }
  }
}

.thtrm-l-footer__bottom {
  background-color: #123742;
  margin-top: 1em;
  padding-bottom: 1em;
  text-align: center;

  p {
    color: #4A7D8B;
    font-size: 0.8em;
    padding-top: 1em;
    margin: 0;

    @media all and (min-width: 750px) {
      font-weight: 600;
      float: left;
      padding-top: 0.6em;
      margin-top: -3.4em;
    }
  }

  a {
    color: #4A7D8B;
    text-decoration: none;

    &:hover {
      color: #ccc;
      transition: color 0.2s ease-out;
    }
  }

  .thtrm-m-list {
    padding-top: 0;

    @media all and (min-width: 750px) {
      float: right;
      margin-top: -2.2em;
    }

    li {
      margin-left: 0;
    }

    a {
      font-size: 0.7em;
      padding: 0.5em;

      @media all and (min-width: 750px) {
        font-weight: 600;
      }

      i {
        font-size: 1.2em;
      }
    }
  }
}

.thtrm-m-footer__bottom__logo-slogan {

  img:first-child {
    display: block;
    margin: 0 auto;
    width: 60px;
    padding-top: 2em;

    @media all and (min-width: 750px) {
      padding-top: 2em;
      padding-bottom: 0.6em;
      width: 40px;
    }
  }

  p {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding-top: 0.2em;
    font-size: 1.2em;
    float: none;
    margin: 0;

    @media all and (min-width: 750px) {
      font-size: 1.4em;
      font-weight: 800;
      display: none;
    }

    img:first-child {
      height: 0.8em;
      width: auto;
      vertical-align: -3%;
      padding-top: 0;
      margin: 0;
      display: inline-block;

      @media all and (min-width: 750px) {
        vertical-align: 0;
      }
    }
  }
}
