.thtrm-m-address {
  text-align: left;
  margin-top: 1.5em;
  font-style: normal;
  font-size: 18px;

  span {
    display: block;
  }

  @media all and (min-width: 1500px) {
    font-size: 24px;

    span {
      margin-top: 0.3em;
    }
  }
}

.thtrm-m-time {
  font-size: 18px;
  text-align: left;
  display: block;
  margin-top: 1em;

  @media all and (min-width: 1500px) {
    font-size: 24px;
    line-height: 38px;
  }
}
