.thtrm-m-btn {
  display: block;
  text-decoration: none;
  font-weight: 800;
  background: #1C5869;
  color: #fff;
  padding: 0.2em 0.8em 0 0.8em;
  border-radius: 0.2em;
  transition: background-color 0.2s ease-out;
  font-size: 16px;
  margin-top: 1em;

  @media all and (min-width: 1500px) {
    font-size: 20px;
  }

  &:hover {
    color: #fff;
    background-color: #123742;
  }

  i {
    margin-right: 0.4em;
    display: inline;
    font-size: 1.2em;
    color: #fff;
  }
}

.thtrm-m-btn--medium-inline-block {
  @media all and (min-width: 550px) {
    vertical-align: 16%;
    width: 250px;
    margin: 0 auto;
    margin-top: 1em;
  }
}
