.thtrm-m-quote {
  blockquote {
    background: rgba(255,255,255,0.9);
    font-style: italic;
    font-size: 18px;
    line-height: 28px;
    padding: 1.2em;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      bottom: -40px;
      left: 7.7em;
      width: 0;
      height: 0;
      border-top: 0 solid transparent;
      border-bottom: 40px solid transparent;
      border-left: 50px solid rgba(255,255,255, 0.9);
    }

    @media all and (min-width: 990px) {
      height: 275px;

      &:before {
        left: 14.4em;
      }
    }

    @media all and (min-width: 1500px) {
      font-size: 24px;
      line-height: 36px;
      height: 360px;
    }
  }
}

.thtrm-m-quote__info {
  margin-top: 2em;

  img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    float: left;
    margin-right: 1.5em;
    border: 2px solid #aaa;

    @media all and (min-width: 990px) {
      margin-left: 7em;
    }

    @media all and (min-width: 1500px) {
      margin-top: 1em;
    }
  }
}

.thtrm-m-quote__info__name {
  display: block;
  color: #fff;
  padding-top: 2em;
  line-height: 22px;

  strong {
    display: block;
  }

  @media all and (min-width: 1500px) {
    font-size: 26px;
    line-height: 30px;
    padding-top: 1.5em;
  }
}

.thtrm-m-quote--inverted {
  blockquote:before {
    border-top: 0 solid transparent;
    border-bottom: 40px solid transparent;
    border-right: 50px solid rgba(255,255,255, 0.9);
    border-left: none;
    left: initial;
    right: 7.7em;

    @media all and (min-width: 990px) {
      right: 14.4em;
    }
  }

  .thtrm-m-quote__info {
    text-align: right;
    img {
      float: right;
      margin-right: 0;
      margin-left: 1.5em;

      @media all and (min-width: 990px) {
        margin-right: 7em;
      }
    }
  }
}
