.thtrm-m-about-profile {

  text-align: center;

  img {
    border-radius: 50%;
    max-width: 85%;
    max-height: 85%;
    display: block;
    margin: 0 auto;
    margin-bottom: 2em;
    border: 2px solid #ccc;

    @media all and (min-width: 500px) {
      max-width: 400px;
    }

    @media all and (min-width: 990px) {
      float: left;
      margin-right: 4em;
      margin-top: -2em;
      max-width: 450px;
    }
  }

  .thtrm-m-section__sub-headline {
    font-size: 35px;
    line-height: 38px;
  }

  .thtrm-m-list {
    li {
      margin-top: 0;
      margin-left: 1em;

      @media all and (min-width: 1500px) {
        font-size: 24px;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
  }
}

.thtrm-m-about-profile--image-right {
  margin-top: 5em;
  @media all and (min-width: 990px) {
    margin-top: 10em;
    img {
      float: right;
      margin-left: 4em;
      margin-right: 0;
      margin-top: -1.5em;
    }
  }
}

.thtrm-m-about-profile__content {
  background: #123742;
  padding: 1em;
  margin-top: 2em;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    /* width: 20px; */
    height: 0;
    top: -0.8em;
    border-left: 15px solid rgba(0, 0, 0, 0);
    border-right: 15px solid rgba(0, 0, 0, 0);
    border-bottom: 15px solid #123742;
    left: 48%;
    margin-left: -7.5px;
  }
}
